<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dung.duanmauchinh">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/DungCustom">
        <activity
                android:name=".MainActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".DangKyDangNhap.DangNhapActivity"
                android:label="@string/manifestLogin">
        </activity>
        <activity
                android:name=".DangKyDangNhap.DangKyActivity"
                android:label="@string/manifestSignUp">
        </activity>
        <activity
                android:name=".ManHinhChinhActivity"
                android:label="Main Menu"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".TheLoai.TheLoaiSachActivity"
                android:label="@string/manifestBookCategory">
        </activity>
        <activity
                android:name=".TheLoai.DanhSachTheLoaiActivity"
                android:label="@string/BookCategoryList">
        </activity>
        <activity
                android:name=".Sach.SachActivity"
                android:label="@string/manifestBook">
        </activity>
        <activity
                android:name=".Sach.DanhSachSachActivity"
                android:label="@string/BookList">
        </activity>
        <activity
                android:name=".HoaDon.HoaDonActivity"
                android:label="@string/manifestInvoice">
        </activity>
        <activity
                android:name=".ThongKe.ThongKeActivity"
                android:label="@string/manifestStatistic">
        </activity>
        <activity
                android:name=".NguoiDung.NguoiDungActivity"
                android:label="@string/manifestUserInformation"
                android:theme="@style/DungCustom.NoActionBar">
        </activity>
        <activity
                android:name=".BanChay.BanChayActivity"
                android:label="@string/manifestBestSeller">
        </activity>
        <activity
                android:name=".HoaDon.Fragment.FragmentDanhSachHoaDon"
                android:label="@string/manifestInvoiceList">
        </activity>
    </application>

</manifest>